html,body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: tahoma !important;
	font-size: 11pt !important;
	z-index: 0;
}

th,td {
    padding: 5px 15px !important;
}

#header {
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}

#header-top, #footer-bottom {
	height: 40px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #006dcc;
	background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	background-image: -o-linear-gradient(top, #0088cc, #0044cc);
	background-image: linear-gradient(to bottom, #0088cc, #0044cc);
	background-repeat: repeat-x;
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

#header-top {
    margin-top: 20px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#header-middle, #footer-middle {
	background: #003f77; /* Old browsers */
	background: -moz-linear-gradient(left,  #003f77 25%, #0090d8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, 	color-stop(25%,#003f77), color-stop(100%,#0090d8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #003f77 25%,#0090d8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #003f77 25%,#0090d8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #003f77 25%,#0090d8 100%); /* IE10+ */
	background: linear-gradient(to right,  #003f77 25%,#0090d8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003f77', endColorstr='#0090d8',GradientType=1 ); /* IE6-9 */
}

#header-middle { height: 110px; }

#header-logo {
	height: 100px;
	width: 100px;
	padding: 5px 0 0 60px;
	float: left;
}

#header-title {
    padding: 50px 30px 10px 0;
	float: right;
	color: #FFFFFF;
	font-size: 36px;
}

#user-cp {
	margin: 8px 15px 0 0;
	position: relative;
	float: right;
}

#body-wrapper {
	min-height: 300px;
	width: 820px;
	margin: 0 auto;
	padding: 30px 70px;
	border: 1px #E5E5E5 solid;
}

#breadcrumb-button{
	position: relative;
	right: 20px;
	bottom: 10px;
}

#content {
	margin-top: 30px;
}

#crowd .user-input{
margin: 10px 0;
}

#quiet .user-input{
margin: 30px 0;
}

#footer {
	width: 960px;
	margin: 0 auto;
	text-align: center;
}

#footer-middle { height: 50px; }

#footer-bottom {
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.bold{  font-weight: bold !important;  }

.col-left{
    width: 100px;
    float: left;
}

.col-left img{
    width: 100px;
    height: 100px;
    margin: 10px 0 0 40px;
}

.col-right{
    width: 625px;
    position: relative;
    float: right;
}

.col-right-left{
    position: relative;
    float: left;
}

.col-right-right{
    position: relative;
    top: 10px;
    right: 20px;
    float: right;
}

.list-big{
    width: 800px;
    height: 120px;
    margin-bottom: 10px;
    border: 1px #E5E5E5 solid;
    -webkit-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border-radius: 10px;
}

.list-big a{
    width: 800px;
    height: 150px;
}

.navbar{
	margin-bottom: 0 !important;
}

.table{
	margin-top: 20px;
}

.user-input div:not(:last-child){
    position: relative;
    float: left;
}

.view-field{
    margin: 10px 0;
}

.view-field div:not(:last-child){
    position: relative;
    float: left;
}

.view-field .question{
    width: 70px !important;
}

.question{
    width: 100px;
    text-align: right;
    margin-right: 5px;
    font-weight: bold;
}

.separator:after{ /*tambahkan titik dua (atau apapun) disini jika diinginkan*/
    content: "\0000a0"; /*&nbsp;*/
}

.sub-content h4{
    position: relative;
    float: left;
}

.sub-content a{
    position: relative;
    float: right;
}