button[type=button]{
    position: relative;
    top: -5px;
}

button[type=submit]{
    position: relative;
    top: 20px;
}

input{ width: 250px; }

input[name=height], input[name=width], input[name=depth]{
    width: 10px !important;
    font-size: 7pt !important;
}

input[name=begin-date], input[name=end-date]{ width: 105px !important; }

input[readonly]{ background: #FFFFFF; }

select{ width: 260px; }

table th{
    background: #003f77;
    color: #FFFFFF;
}

table input{
    margin: 0 !important;
    border: 0 !important;
    width: 50px !important;
}

textarea{
    margin-top: 5px;
	width: 300px;
}

#approval-manipulator{ margin: 15px 20px 0; }

#breadcrumb{
	font-size: 16pt;
	font-weight: bold;
}

#approval-table{
    margin: 0 20px;
	padding: 0 5px !important;
    font-size: 7pt;
    border: 1px #E5E5E5 solid;
}

#approval-table{ font-size: 11pt !important; }

#col-left{
    width: 450px;
    float: left;
}

#col-right{
    width: 350px;
	position: relative;
    top: 10px;
    float: right;
}

#equipment-table, #equipment-table th, #equipment-table td{
    padding: 0 5px !important;
    font-size: 7pt;
    border: 1px #E5E5E5 solid;
}

#equipment-table .question{
    font-weight: normal;
}

.content-group{
    border: 1px #E5E5E5 solid;
}

.content-group fieldset{
    width: 400px;
    margin: 15px;
    padding: 5px;
    border: 1px #E5E5E5 solid;
}

.content-group .question{
	width: 140px !important;
    font-weight: normal;
}

.content-group-header{
	padding: 5px 15px;
	background: #0090d8;
	color: #FFFFFF;
}

.content-group-body{
    height: 200px;
}
.content-group-footer{
    margin-top: 10px;
	background: #CCCCCC;
}

.separator:after{ /*tambahkan titik dua (atau apapun) disini jika diinginkan*/
    content: "\0000a0"; /*&nbsp;*/
}