input[type=checkbox] {
	position: relative;
	top: -4px !important;
}

#login-wrapper {
	width: 230px;
	height: 165px;
	margin: 40px auto;
	padding: 50px 60px;
	border: 1px #E5E5E5 solid;
	background-color: rgba(61, 59, 59, 0.21);
}

#button-wrapper {
    margin: 15px 15px 0 5px !important;
    height: 20px;
}

#warn {
	width: 215px;
	text-align: center;
	position: relative;
	top: -205px;
	font-size: 9pt;
	color: #FF0000;
}

#forgot-background {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	background-color: #999999;
	opacity: 0.8;
	z-index: 1;
	display: none;
}

#forgot-wrapper {
	width: 230px;
	margin: -415px auto 0;
	padding: 60px 60px 40px;
	position: relative;
	background-color: #FFFFFF;
	border: 1px #DDD solid;
	z-index: 2;
	display: none;
}

#forgot-wrapper button {
	width: 190px !important;
	margin: 40px 15px 0 !important;
}

#addition {
	font-size: 10pt;
	width: 220px;
}

#forgot-link {
	positiopn: relative;
	float: right;
}

#log-btn{
    positiopn: relative;
    float: left;
}

#reg-btn{
    positiopn: relative;
    float: right;
}